# Import Library yang dibutuhkan

In [ ]:
import pandas as pd
import numpy as np

# Load Dataset

In [ ]:
data_mentah = pd.read_csv('toyota.csv')
data_mentah.shape

(6738, 9)

In [ ]:
data_mentah

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0
3,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0
4,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0
...,...,...,...,...,...,...,...,...,...
6733,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

# Pisahkan Fitur dan label

In [ ]:
label_data_mentah = data_mentah['price']  # Ganti 'nama_kolom_label' dengan nama kolom yang sesuai
fitur_data_mentah = data_mentah.drop(['model', 'price'], axis=1)  # Mengambil kolom 0-9 sebagai fitur

In [ ]:
#tampilkan label
label_data_mentah

0       16000
1       15995
2       13998
3       18998
4       17498
        ...
6733     5500
6734     4985
6735     4995
6736     3995
6737     4495
Name: price, Length: 6738, dtype: int64

In [ ]:
#tampilkan fitur
fitur_data_mentah

      year transmission  mileage fuelType  tax   mpg  engineSize
0     2016       Manual    24089   Petrol  265  36.2         2.0
1     2017       Manual    18615   Petrol  145  36.2         2.0
2     2015       Manual    27469   Petrol  265  36.2         2.0
3     2017       Manual    14736   Petrol  150  36.2         2.0
4     2017       Manual    36284   Petrol  145  36.2         2.0
...    ...          ...      ...      ...  ...   ...         ...
6733  2011    Automatic    30000   Petrol   20  58.9         1.0
6734  2011       Manual    36154   Petrol  125  50.4         1.3
6735  2012       Manual    46000   Diesel  125  57.6         1.4
6736  2011       Manual    60700   Petrol  125  50.4         1.3
6737  2011       Manual    45128   Petrol  125  50.4         1.3

[6738 rows x 7 columns]

# Tahap Preprocessing

Tahap Encoding

In [ ]:
#tahap encoding
fitur_data_mentah.dtypes

year              int64
transmission     object
mileage           int64
fuelType         object
tax               int64
mpg             float64
engineSize      float64
dtype: object

Kesimpulan tahap encoding adalah perlu dilakukannya encoding karena masih terdapat

In [ ]:
#mengubah tipe data (encoding)

#mengubah kolom transmission dari string ke int
from sklearn.preprocessing import LabelEncoder

# Inisialisasi objek LabelEncoder
label_encoder = LabelEncoder()
#AutoMatic = 0, Manual = 1, Semi-Auto = 2
# Terapkan enkoding label pada kolom "transmission"
fitur_data_mentah['transmission'] = label_encoder.fit_transform(fitur_data_mentah['transmission'])

In [ ]:
#mengubah tipe data (encoding)

#mengubah kolom transmission dari string ke int
from sklearn.preprocessing import LabelEncoder

# Inisialisasi objek LabelEncoder
label_encoder = LabelEncoder()
#AutoMatic = 0, Manual = 1, Semi-Auto = 2
# Terapkan enkoding label pada kolom "transmission"
fitur_data_mentah['fuelType'] = label_encoder.fit_transform(fitur_data_mentah['fuelType'])

In [ ]:
fitur_data_mentah.dtypes

year              int64
transmission      int64
mileage           int64
fuelType          int64
tax               int64
mpg             float64
engineSize      float64
dtype: object

Tahap Imputation

In [ ]:
fitur_data_mentah.isnull().sum()

year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

Tidak perlu melakukan imputation karena data fitur sudah lengkap

Feature scaling

In [ ]:
fitur_data_mentah.head(10)

   year  transmission  mileage  fuelType  tax   mpg  engineSize
0  2016             1    24089         3  265  36.2         2.0
1  2017             1    18615         3  145  36.2         2.0
2  2015             1    27469         3  265  36.2         2.0
3  2017             1    14736         3  150  36.2         2.0
4  2017             1    36284         3  145  36.2         2.0
5  2017             1    26919         3  260  36.2         2.0
6  2017             1    10456         3  145  36.2         2.0
7  2017             1    12340         3  145  36.2         2.0
8  2020             1      516         3  150  33.2         2.0
9  2016             1    37999         3  265  36.2         2.0

In [ ]:
from sklearn import preprocessing

# kita lakukan feature scaling dengan Standard Scaler, hasilnya kita simpan di sudah_scaling
scaler = preprocessing.StandardScaler()
scaler.fit(fitur_data_mentah)
sudah_scaling=scaler.transform(fitur_data_mentah)

In [ ]:
sudah_scaling

array([[-0.3394643 ,  0.47861718,  0.06439987, ...,  2.30527356,
        -1.6950626 ,  1.2122702 ],
       [ 0.11427711,  0.47861718, -0.22183664, ...,  0.68091453,
        -1.6950626 ,  1.2122702 ],
       [-0.7932057 ,  0.47861718,  0.24114073, ...,  2.30527356,
        -1.6950626 ,  1.2122702 ],
       ...,
       [-2.15442992,  0.47861718,  1.2101303 , ...,  0.41018802,
        -0.34367157, -0.16347816],
       [-2.60817132,  0.47861718,  1.97879614, ...,  0.41018802,
        -0.79834519, -0.39276955],
       [-2.60817132,  0.47861718,  1.16453325, ...,  0.41018802,
        -0.79834519, -0.39276955]])

In [ ]:
# sudah_scaling masih array kita ubah lagi ke dataframe, kita simpan di df_sudah_scaling
data_sudah_scaling = pd.DataFrame(sudah_scaling, index=fitur_data_mentah.index, columns=fitur_data_mentah.columns)

In [ ]:
data_sudah_scaling

,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,-0.339464,0.478617,0.064400,0.777232,2.305274,-1.695063,1.212270
1,0.114277,0.478617,-0.221837,0.777232,0.680915,-1.695063,1.212270
2,-0.793206,0.478617,0.241141,0.777232,2.305274,-1.695063,1.212270
3,0.114277,0.478617,-0.424670,0.777232,0.748596,-1.695063,1.212270
4,0.114277,0.478617,0.702079,0.777232,0.680915,-1.695063,1.212270
...,...,...,...,...,...,...,...
6733,-2.608171,-1.022743,0.373487,0.777232,-1.011126,-0.261578,-1.080644
6734,-2.608171,0.478617,0.695281,0.777232,0.410188,-0.798345,-0.392770
6735,-2.154430,0.478617,1.210130,-1.979079,0.410188,-0.343672,-0.163478
6736,-2.608171,0.478617,1.978796,0.777232,0.410188,-0.798345,-0.392770
6737,-2.608171,0.478617,1.164533,0.777232,0.410188,-0.798345,-0.392770

FEATURE SELECTION DEMGAM CORRELATION **MATRIX**

In [ ]:
data_mentah.head()

   model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1   GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0
2   GT86  2015  13998       Manual    27469   Petrol  265  36.2         2.0
3   GT86  2017  18998       Manual    14736   Petrol  150  36.2         2.0
4   GT86  2017  17498       Manual    36284   Petrol  145  36.2         2.0

In [ ]:
corr_mat = data_mentah.corr() 
print(corr_mat['price'])

year          0.420959
price         1.000000
mileage      -0.297936
tax           0.214498
mpg          -0.039910
engineSize    0.727592
Name: price, dtype: float64

<ipython-input-72-ccc446de4a50>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_mat = data_mentah.corr()

In [ ]:
# kita buat dataframe baru berisi 2 kolom dari fitur yang sudah discaling
fitur_dari_corr = data_sudah_scaling[['year', 'tax', 'engineSize']]

#tampilkan
fitur_dari_corr

          year       tax  engineSize
0    -0.339464  2.305274    1.212270
1     0.114277  0.680915    1.212270
2    -0.793206  2.305274    1.212270
3     0.114277  0.748596    1.212270
4     0.114277  0.680915    1.212270
...        ...       ...         ...
6733 -2.608171 -1.011126   -1.080644
6734 -2.608171  0.410188   -0.392770
6735 -2.154430  0.410188   -0.163478
6736 -2.608171  0.410188   -0.392770
6737 -2.608171  0.410188   -0.392770

[6738 rows x 3 columns]

In [ ]:
#ini opsional, jika diinginkan untuk menggabungkan kolom fitur dan label maka bisa menggunakan concat
data = pd.concat([fitur_dari_corr, label_data_mentah], axis = 1)
data

          year       tax  engineSize  price
0    -0.339464  2.305274    1.212270  16000
1     0.114277  0.680915    1.212270  15995
2    -0.793206  2.305274    1.212270  13998
3     0.114277  0.748596    1.212270  18998
4     0.114277  0.680915    1.212270  17498
...        ...       ...         ...    ...
6733 -2.608171 -1.011126   -1.080644   5500
6734 -2.608171  0.410188   -0.392770   4985
6735 -2.154430  0.410188   -0.163478   4995
6736 -2.608171  0.410188   -0.392770   3995
6737 -2.608171  0.410188   -0.392770   4495

[6738 rows x 4 columns]

# REGRESI DENGAN K_NEAREST NEIGHBOR

In [ ]:
data

          year       tax  engineSize  price
0    -0.339464  2.305274    1.212270  16000
1     0.114277  0.680915    1.212270  15995
2    -0.793206  2.305274    1.212270  13998
3     0.114277  0.748596    1.212270  18998
4     0.114277  0.680915    1.212270  17498
...        ...       ...         ...    ...
6733 -2.608171 -1.011126   -1.080644   5500
6734 -2.608171  0.410188   -0.392770   4985
6735 -2.154430  0.410188   -0.163478   4995
6736 -2.608171  0.410188   -0.392770   3995
6737 -2.608171  0.410188   -0.392770   4495

[6738 rows x 4 columns]

# Tentukan Fitur dan Label

In [ ]:
#tentukkan fitur adalah year, tax engineSize
#label adalah price
label = data['price']
fitur = data[data.columns[0:3]]

In [ ]:
#tampilkkan fitur
fitur

          year       tax  engineSize
0    -0.339464  2.305274    1.212270
1     0.114277  0.680915    1.212270
2    -0.793206  2.305274    1.212270
3     0.114277  0.748596    1.212270
4     0.114277  0.680915    1.212270
...        ...       ...         ...
6733 -2.608171 -1.011126   -1.080644
6734 -2.608171  0.410188   -0.392770
6735 -2.154430  0.410188   -0.163478
6736 -2.608171  0.410188   -0.392770
6737 -2.608171  0.410188   -0.392770

[6738 rows x 3 columns]

In [ ]:
#tampilkan label
label

0       16000
1       15995
2       13998
3       18998
4       17498
        ...
6733     5500
6734     4985
6735     4995
6736     3995
6737     4495
Name: price, Length: 6738, dtype: int64

In [ ]:
x = fitur
y = label

In [ ]:
from re import X
from sklearn.model_selection import train_test_split
#ratio 70% data latih dan 30% data uji
# x = fitur
# y = label
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [ ]:
# coba kita lihat berapa jumlah data latih dan data ujinya
print("Banyak data latih setelah dilakukan Train-Test Split: ", len(x_train))
print("Banyak data uji setelah dilakukan Train-Test Split: ", len(x_test))

Banyak data latih setelah dilakukan Train-Test Split:  4716
Banyak data uji setelah dilakukan Train-Test Split:  2022

In [ ]:
# kita import library untuk regresi dengan K-Nearest Neighbor
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
# kita tentukan cara perhitungan jarak dan nilai k nya
regressor = KNeighborsRegressor(metric='manhattan', n_neighbors=5)

Pengujian

In [ ]:
#ingat bahwa tadi kita sudah punya data latihnya 
# X_train = data fitur latih
# Y_train = data label latih
regressor.fit(x_train, y_train)

KNeighborsRegressor(metric='manhattan')

In [ ]:
#ingat bahwa tadi kita sudah punya data ujinya 
# X_test = data fitur uji
hasil_regresi = regressor.predict(x_test)

In [ ]:
#coba kita bandingkan antara hasil prediksi dengan label yang sesungguhnya
#ingat kita tadi sudah punya variabel yang menyimpan label yg sebenarnya dari data uji
#Y_test = data label data uji yang sebenarnya (kunci jawabannya)
df_hasil_regresi = pd.DataFrame({"prediksi":hasil_regresi, "harga asli":y_test})

df_hasil_regresi

      prediksi  harga asli
445    20776.6       21000
1412    9627.4        8399
5320    7755.8        7317
6361   13436.8       14999
6685   44352.2       41499
...        ...         ...
6585   21476.6       20998
4816    7364.0        8275
3939    6765.0        6465
5602    7755.8        8695
6510    8443.0        5995

[2022 rows x 2 columns]

Analisis Peforma

In [ ]:
#untuk pekan ini kita hanya akan hitung MAE (mean absolute error) saja dulu
print("Mean absolute error: %.2f" % np.mean(np.absolute(y_test - hasil_regresi)))

Mean absolute error: 1278.27

In [ ]:

# Melakukan prediksi pada data uji
prediksi = regressor.predict(x_test)

# Menghitung akurasi model
akurasi = regressor.score(x_test, y_test)

# Menampilkan akurasi
print("Akurasi model: ", akurasi)

Akurasi model:  0.9068975455358008